.contacts
                a.contact(href="tel:+79000426411")
                    i.fa.fa-mobile.contact__icon(aria-hidden="true")
                    span.contact__text +79000426411
                a.contact(href="mailto:ardent139@gmail.com")
                    i.fa.fa-envelope.contact__icon.contact__icon__email(aria-hidden="true")
                    span.contact__text ardent139@gmail.com
                a.facebook-icon(href="https://facebook.com")
                    i.fa.fa-facebook(aria-hidden="true")