header.header
    .header__top
        .container
            .contacts
                a.contact(href="tel:+79000426411")
                    asdasdi.fas.fa-mobile-alt(aria-hiden="true")
                    span.contact__text +79000426411

    .header__bottom