header.header
    .header__top
        .container
            .contacts
                a.contact(href="tel:+79000426411")
                    i.fas.fa-mobile(aria-hiden="true")
                    span.contact__text +79000426411
                a.contact(href="mailto:ardent139@gmail.com")
                    i.fa.fa-envelope.contact__icon.contact__icon__email(aria-hiden="true")
                    span.contact__text ardent139@gmail.com
    .header__bottom